<div id="<%= dom_id blind_date %>">
  <p>
    <strong>Selected Lunch Date:</strong>
    <%= blind_date.selected_date %>
  </p>
  <p>
    <strong>Group Leader of the week:</strong>
    <%= blind_date.leader.name %>
  </p>

</div>
